# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# -----------------
# Python / Django
# -----------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.pyc
*.env
*.venv/
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
**/__pycache__/

# Django stuff:
*.mo
*.coverage
*.cover
htmlcov/
media/
staticfiles/
*.pyc
db.sqlite3
*.log

# -----------------
# Node / React / Vite
# -----------------
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
build/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -----------------
# OS / Editor
# -----------------
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# -----------------
# Docker
# -----------------
*.pid
*.pid.lock
*.sock
*.pidfile
docker-compose.override.yml


.env
.env.*.local